body{
	background-color: #eee;
}
.canvas-container{
	/*margin-top:0%;*/
}

.welcome-title{
	margin-left: 40px;
}

canvas{
	position: fixed;
	top: 40px ! important;
	left: 40px ! important;
	/*margin:auto;*/
	/*float:left;*/	
}
.bg-canvas{
	/*height: 100%;*/
	/*width: 100%;*/
	background-color: black;
	/*border: 1px solid green;*/
	z-index: 1;
	border-radius:4px;
}
.main-canvas{
	/*margin:2.5%;*/
	/*height: 100%;*/
	/*width: 100%;*/
	/*background-color: rgba(0,0,0,0.9);*/
	/*border-radius: 4px;*/
	z-index: 10;
}
.pb-controls{
	position: fixed;
	left: 700px;
	top: 40px;
	margin-top:1%;
	width: 400px;
}
.btn-pair{
	margin-bottom: 2%;
}

.controls-group{
	background: #fff;
	padding: 4% 4%;
	border-radius: 3px;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.stats{
	position: fixed;
	top: 40px;
	left: 75%;
	font-size: 0.9em;
	width: 300px;
}

/*
.helptext{
	position: relative;
	top: -8%;
	left: 0px;
	display: none;
	background: rgba(0,0,0,0.75);
	color: white;
	padding: 1% 2%;
	font-size: 0.9em;
	border-radius: 4px;
}

.control-btn:hover .helptext{
	display: block;
}*/

.btn-pair .btn{
	border-radius: 0px;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.pb-controls .row {
	margin-bottom: 1%;
}

.pb-controls .row div{
	margin-right: 1%;
}