body{
	background-color: #eee;
}
.canvas-container{
	position: relative;
	height: 640px;
	width: 1280px;
	/*margin-top:0%;*/
}
canvas{
	/*position: absolute;*/
	top:10px;
	margin:auto;
	float:left;
}
.bg-canvas{
	/*height: 100%;*/
	/*width: 100%;*/
	background-color: black;
	/*border: 1px solid green;*/
	z-index: 1;
	border-radius:4px;
}
.main-canvas{
	/*margin:2.5%;*/
	/*height: 100%;*/
	/*width: 100%;*/
	/*background-color: rgba(0,0,0,0.9);*/
	/*border-radius: 4px;*/
	z-index: 10;
}
.pb-controls{
	margin-top:1%;
}